In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('C:/Users/Gajraj Singh/Documents/6eco_snap_p.csv')

In [3]:
df.head()

,name,Date,Country,user_data_geo_dma_code,custom_data
0,PURCHASE,02-Sep-19,AE,E5FE681A-7C1F-4CD6-B57D-1658A72723FF,"{""order_id"":""448382"",""final_amount"":""290"",""shi..."
1,PURCHASE,02-Sep-19,SA,BAEF7C31-4FDA-4BC3-82AD-6A294D5B746F,"{""order_id"":""448387"",""final_amount"":""358"",""shi..."
2,PURCHASE,02-Sep-19,AE,A699E11A-861C-4B49-9013-2D89C34CE928,"{""order_id"":""448292"",""final_amount"":""720"",""shi..."
3,PURCHASE,02-Sep-19,SA,B5D702F4-D571-4F49-9685-309936CE4CEB,"{""order_id"":""448299"",""final_amount"":""162"",""shi..."
4,PURCHASE,02-Sep-19,AE,E338D6C3-2070-4181-A629-FE966E2F3BED,"{""order_id"":""448288"",""final_amount"":""409"",""shi..."

In [5]:
df['final_amount'] = df['custom_data'].apply(lambda x:json.loads(x).get('final_amount','NULL'))
df['shipping_fee'] = df['custom_data'].apply(lambda x:json.loads(x).get('shipping_fee','NULL'))
df['discounted_amount'] = df['custom_data'].apply(lambda x:json.loads(x).get('discounted_amount','NULL'))
df['product_count'] = df['custom_data'].apply(lambda x:json.loads(x).get('product_count','NULL'))
df['currency'] = df['custom_data'].apply(lambda x:json.loads(x).get('currency','NULL'))
df['product_skus'] = df['custom_data'].apply(lambda x:json.loads(x).get('product_skus','NULL'))
df['total_amount'] = df['custom_data'].apply(lambda x:json.loads(x).get('total_amount','NULL'))
df['product_names'] = df['custom_data'].apply(lambda x:json.loads(x).get('product_names','NULL'))
df['value'] = df['custom_data'].apply(lambda x:json.loads(x).get('value','NULL'))

In [6]:
df.head()

,name,Date,Country,user_data_geo_dma_code,custom_data,final_amount,shipping_fee,discounted_amount,product_count,currency,product_skus,total_amount,product_names,value
0,PURCHASE,02-Sep-19,AE,E5FE681A-7C1F-4CD6-B57D-1658A72723FF,"{""order_id"":""448382"",""final_amount"":""290"",""shi...",290,0,-125,3,AED,NULL,415,NULL,290
1,PURCHASE,02-Sep-19,SA,BAEF7C31-4FDA-4BC3-82AD-6A294D5B746F,"{""order_id"":""448387"",""final_amount"":""358"",""shi...",358,20,-105,3,SAR,NULL,443,NULL,358
2,PURCHASE,02-Sep-19,AE,A699E11A-861C-4B49-9013-2D89C34CE928,"{""order_id"":""448292"",""final_amount"":""720"",""shi...",720,20,0,1,AED,NULL,700,NULL,720
3,PURCHASE,02-Sep-19,SA,B5D702F4-D571-4F49-9685-309936CE4CEB,"{""order_id"":""448299"",""final_amount"":""162"",""shi...",162,20,0,2,SAR,NULL,142,NULL,162
4,PURCHASE,02-Sep-19,AE,E338D6C3-2070-4181-A629-FE966E2F3BED,"{""order_id"":""448288"",""final_amount"":""409"",""shi...",409,20,0,1,AED,NULL,389,NULL,409

In [7]:
del df['custom_data']

In [8]:
df.head()
df.to_csv('C:/Users/Gajraj Singh/Documents/6dataout_p.csv')