In [1]:
import pandas as pd
import json

In [20]:
df = pd.read_csv('C:/Users/Gajraj Singh/Downloads/ounass.csv')

In [28]:
df.iloc[1]['eventitemjson']

'{"product_ids":"204747296_242","environment":"production","currency":"SAR","cid":"D9205DBB-C362-4627-8917-923590131E47","cost":"646.1000","transaction_obj":"[{\\"id\\":\\"204747296_242\\",\\"quantity\\":1}]","fb_content_type":"product","transaction_id":"POS12221936"}'

In [29]:
df['sku'] = df['eventitemjson'].apply(lambda x:json.loads(x).get('product_ids','NULL'))
df['revenue'] = df['eventitemjson'].apply(lambda x:json.loads(x).get('cost','NULL'))
df['currency'] = df['eventitemjson'].apply(lambda x:json.loads(x).get('currency','NULL'))

In [30]:
df.head()

,eventitemjson,sku,revenue,currency
0,"{""transaction_id"":""POS12671978"",""product_ids"":...","213322819_26,202320282_247",1500.0000,SAR
1,"{""product_ids"":""204747296_242"",""environment"":""...",204747296_242,646.1000,SAR
2,"{""transaction_obj"":""[{\""id\"":\""204748268_242\""...","204748268_242,205138509_242",367.0000,AED
3,"{""transaction_obj"":""[{\""id\"":\""212282750_242\""...","212282750_242,204748268_242",320.0000,SAR
4,"{""environment"":""production"",""currency"":""AED"",""...","213333472_242,204752132_242",10.9000,AED

In [35]:
data = df.drop(['eventItemJson','tyrooAttributionPartnerId','actionkey'],axis=1)
#data = df['sku']['pkgName']
dt = data.groupby(['sku']).count()

In [33]:
data.to_csv('C:/Users/Gajraj Singh/Downloads/ounass.csv')

In [31]:
data = df.drop(['eventitemjson'],axis=1)