In [2]:
seq = [1,2,3,4,5]

In [3]:
for item in seq:
    print(item)

1
2
3
4
5

In [4]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [5]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
x = [1,2,3,4]

In [13]:
out = []

for num in x:
    out.append(num**2)

In [14]:
print(out)

[1, 4, 9, 16]

In [15]:
[num**2 for num in x]

[1, 4, 9, 16]

In [16]:
out = [num**2 for num in x]

In [17]:
out

[1, 4, 9, 16]

In [18]:
def my_func(param1):
    print(param1)

In [19]:
my_func('hello')

hello

In [23]:
def my_func(name):
    print('hello '+name)

In [24]:
my_func('Jose')

hello Jose

In [25]:
def my_func(name='Default name'):
    print('hello '+name)

In [26]:
my_func()

hello Default name

In [27]:
my_func('Dear')

hello Dear

In [29]:
my_func()

hello Default name

In [33]:
def square(num):
    """
    THIS is a doc string
    can go multi lines.
    this function for square a number.
    """
    return num**2

In [34]:
output = square(2)

In [35]:
output

4

In [37]:
def times2(var):
    return var*2

In [38]:
times2(5)

10

In [40]:
seq = [1,2,3,4,5]

In [43]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [44]:
t = lambda var:var*2

In [45]:
t(3)

6

In [46]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [47]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [48]:
s = 'hello my name is Sam'

In [49]:
s.lower()

'hello my name is sam'

In [52]:
s.upper()

'HELLO MY NAME IS SAM'

In [53]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [54]:
tweet = 'go sports! #Sports'

In [56]:
tweet.split('#')[1]

'Sports'

In [59]:
d = {'k1' : 1 ,'k2' : 2}

In [60]:
d

{'k1': 1, 'k2': 2}

In [61]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [62]:
d.values()

dict_values([1, 2])

In [63]:
lst = [1,2,3,4]

In [64]:
lst.pop()

4

In [72]:
item = lst.pop(0)

In [73]:
item

1

In [74]:
lst.append('new')

In [75]:
lst

['new']

In [76]:
'x' in [1,2,3]

False

In [77]:
'x' in ['x','y','z']

True

In [78]:
x = [(1,2),(3,4),(5,6)]

In [79]:
x[0]

(1, 2)

In [81]:
x[2][1]

6

In [83]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [86]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6