In [1]:
import boto3
import time
import pandas as pd
AWS_ACCESS_KEY = "AKIATD4GPDJ44SNZZOO6"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [8]:
QS = ["SELECT  target_type, COUNT(*) scans FROM phosta_db_vuforia_target_tracking where op ='I' group by 1",
      "SELECT  target_type, COUNT(*) scans FROM phosta_db_vuforia_target_tracking_archive group by 1"]

In [9]:
li=[]
for i in range(len(QS)):
    query_response = athena_client.start_query_execution(
    QueryString=QS[i],
    QueryExecutionContext={"Database": 'rds-dfs'},
    ResultConfiguration={"OutputLocation": 's3://metabase-data-insights/Power-BI/',"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                        },
)
    while True:
        try:
            # This function only loads the first 1000 rows
            athena_client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    S3_BUCKET_NAME = "metabase-data-insights"
    S3_OUTPUT_DIRECTORY = "Power-BI"

    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client("s3", aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION,)
    s3_client.download_file(S3_BUCKET_NAME,f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",temp_file_location,)
    df = pd.read_csv(temp_file_location)
    li.append(df)

In [10]:
li[0]

          target_type      scans
0             INSTANT  122586096
1  INSTANT_BUILD_FAIL    2091700
2               CLOUD    3566748
3   INSTANT_AVAILABLE      33478
4               LOCAL   13990261