In [9]:
import boto3
import time
import pandas as pd
AWS_ACCESS_KEY = "AKIATD4GPDJ44SNZZOO6"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [10]:
# QS = ["SELECT  date(updated_at) as date, COUNT(*) scans FROM phosta_db_vuforia_target_tracking where op ='I' group by 1",
#       "SELECT  date(updated_at) as date, COUNT(*) scans FROM phosta_db_vuforia_target_tracking_archive group by 1"]

QS = ["SELECT user_profile_id, date(updated_at) as date, COUNT(*) scans FROM phosta_db_vuforia_target_tracking where op ='I' group by 1,2 union SELECT user_profile_id, date(updated_at) as date, COUNT(*) scans FROM phosta_db_vuforia_target_tracking where op is null group by 1,2 ", "SELECT user_profile_id, date(updated_at) as date, COUNT(*) scans FROM phosta_db_vuforia_target_tracking_archive group by 1,2"]

In [11]:
li=[]
for i in range(len(QS)):
    query_response = athena_client.start_query_execution(
    QueryString=QS[i],
    QueryExecutionContext={"Database": 'rds-dfs'},
    ResultConfiguration={"OutputLocation": 's3://metabase-data-insights/Power-BI/',"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                        },
)
    while True:
        try:
            # This function only loads the first 1000 rows
            athena_client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    S3_BUCKET_NAME = "metabase-data-insights"
    S3_OUTPUT_DIRECTORY = "Power-BI"

    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client("s3", aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION,)
    s3_client.download_file(S3_BUCKET_NAME,f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",temp_file_location,)
    df = pd.read_csv(temp_file_location)
    li.append(df)

In [26]:
li[1]['date'].max()

'2021-07-31'

In [13]:
ndf = pd.concat(li)

In [14]:
ndf

                             user_profile_id        date  scans
0       4b827e79-7feb-4854-908d-93b737648b49  2022-01-19    101
1       22b409d7-4662-4e07-b569-0362563a5bc6  2022-01-19    643
2       a06f8922-8c4c-4987-a87d-bdb41a8f859b  2022-01-19    105
3       69e79cdd-756c-4c86-ab61-f64f6ef6db33  2022-01-19    300
4       b250b521-3596-4f91-b6b4-06b2bc50b030  2022-01-18      6
...                                      ...         ...    ...
491497  7c13ab86-ccb0-4e0d-b5cd-c6fce02be4db  2021-07-20    102
491498  c833a23e-d71c-4d16-9585-808ee996a4b1  2021-07-20      1
491499  f95393c8-f0b2-43c1-b523-ab680a08758e  2021-07-20    104
491500  eb10611f-41d7-432f-bd8c-d31e2fcb78a8  2021-07-20    100
491501  6518fa6e-e92e-45da-a3c6-461ed4a7608f  2021-07-20     99

[1976937 rows x 3 columns]

In [15]:
scan_data = ndf.groupby(['user_profile_id','date'])['scans'].apply(pd.Series.sum).reset_index()

In [16]:
scan_data

                              user_profile_id        date  scans
0        000024da-e8b7-4d59-8ff0-3b7d8c409247  2021-11-10      1
1        000031bd-e0a3-4af1-bc91-0e6eeb57acea  2021-11-08      1
2        00003a7a-f955-42fd-8ed8-e72a859cfedd  2021-11-29      5
3        00003a7a-f955-42fd-8ed8-e72a859cfedd  2021-11-30     99
4        00003a7a-f955-42fd-8ed8-e72a859cfedd  2021-12-01    297
...                                       ...         ...    ...
1797677  ffff7443-a4c6-42a3-8e04-e939c0dfe1ef  2021-12-29    550
1797678  ffff934f-0267-4989-beb4-d0cbc11eb162  2022-01-24      2
1797679  ffffaaf9-515a-4cbb-99e4-2294d49e0d53  2021-12-18      1
1797680  ffffab1f-5e49-45b3-b7e7-ecf546729b60  2021-11-16    101
1797681  fffff2ac-f817-4bff-b978-d3656fea9c9c  2021-11-27      1

[1797682 rows x 3 columns]

In [17]:
scan_data['scans'].sum()

554071515

In [18]:
ndf['scans'].sum()

554071515

In [19]:
li[0].to_csv("/Users/gajrajsingh/Downloads/scans.csv")

In [30]:
check_df = pd.read_csv("/Users/gajrajsingh/Downloads/vtt_scans_pbi1.csv")

In [31]:
check_df.head()

                        user_profile_id        date  scans
0  b91f50b6-9d07-4acc-859c-8c0f9838b734  2021-07-26    581
1  d32ad525-b8b9-4342-a427-e9efa76ca75d  2021-07-26    100
2  712f8246-186f-4ac9-8753-911810847abe  2021-07-26    101
3  9b9ce589-2e3b-4780-b9a8-a53e4f7608d1  2021-07-26    308
4  2b8575a3-d2de-42a3-b69f-0c57fd096619  2021-06-21     87

In [32]:
check_df['scans'].sum()

554101724